
/* swiper css */
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* shared css */
.bk_archive {
     width: 5%;
     height: auto;
     position: absolute;
     top: 2%;
     right: 4%;
}

.bk_archive_l {
     width: 5%;
     height: auto;
     position: absolute;
     top: 2%;
     left: 4%;
}

.responsive-width {
        font-size: 1.5vw;
}

.ghost-button {
	background-color: transparent;
  display: inline-block;
  padding: 1%;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}

.ghost-button:hover,
.ghost-button:active {
  color: #fff;
	opacity: 0.5;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

/* disable css for <a> */
a {color:inherit; text-decoration: none;}

@media screen and (min-width:700px)  {
    .swiper-pagination-bullet {
        border: white solid 1px;
        width: 15px;
        height: 15px;
    }
}
@media screen and (orientation:landscape) {
		.bk_archive {
				 width: 5%;
				 height: auto;
				 position: absolute;
				 top: 4%;
				 right: 2%;
		}
		 .bk1_name {
				 width: 18%;
				 height: auto;
				 position: absolute;
				 top: 32%;
				 left: 15%;
		}
		 .bk1_name_pinyin {
				 width: 18%;
				 height: auto;
				 position: absolute;
				 top: 23%;
				 left: 12%;
		}
		.btn-duiwu {
				 max-width: 10%;
				 height: auto;
				 position: absolute;
				 top: 69%;
				 right: 10%;
		}

		.btn-budang {
				 max-width: 10%;
				 height: auto;
				 position: absolute;
				 top: 79%;
				 right: 10%;
		}
		.btn-zhibo {
				 max-width: 10%;
				 height: auto;
				 position: absolute;
				 top: 89%;
				 right: 10%;
		}
    .bk2_intro {
				 width: 30%;
				 height: auto;
				 position: absolute;
				 bottom: 36%;
         left: 6%;
    }
    .bk2_list {
        position: absolute;
        width: 25%;
        height: auto;
        bottom: 2%;
        right: 10%;
    }
    .btn-zhibo-bk2 {
         width: 15%;
         height: auto;
    }
    .bk3_intro {
				 width: 20%;
				 height: auto;
				 position: absolute;
				 top: 10%;
         left: 10%;
    }
		.btn-budang-bk3 {
				 width: 20%;
				 height: auto;
				 position: absolute;
				 bottom: 5%;
         left: 15%;
		}
		.bk4_teamx {
				position: absolute;
				width: 16%;
				height: auto;
				top:15%;
				right:17%;
		}
		.bk4_zhuye {
				position: absolute;
				width: 5%;
				height: auto;
				top: 25%;
				right:18%;
		}
		.bk4_yingyuanhui {
				position: absolute;
				width: 6%;
				height: auto;
				top: 35%;
				right:17%;
		}
		.bk4_xinwen {
				position: absolute;
				width: 5%;
				height: auto;
				top: 45%;
				right:18%;
		}
		.btn-budang-bk4 {
				 width: 20%;
				 height: auto;
				 position: absolute;
				 bottom: 5%;
         left: 5%;
		}
}


@media screen and (orientation:landscape) and (min-aspect-ratio:16/10){
    .bk3_intro {
				 width: 16%;
				 height: auto;
				 position: absolute;
				 top: 10%;
         left: 10%;
    }
		.btn-budang-bk3 {
				 width: 20%;
				 height: auto;
				 position: absolute;
				 bottom: 5%;
         left: 8%;
		}
}

@media screen and (orientation:portrait) {
		.bk1_name {
		 width: 30%;
		 height: auto;
		 position: absolute;
		 top: 45%;
		 left: 15%;
  	}
		 .bk1_name_pinyin {
				 width: 18%;
				 height: auto;
				 position: absolute;
				 top: 42%;
				 left: 12%;
		}
    .btn-duiwu {
         width: 10%;
         height: auto;
         position: absolute;
         top: 73%;
         right: 10%;
    }
    .btn-budang {
         width: 10%;
         height: auto;
         position: absolute;
         top: 79%;
         right: 10%;
    }
    .btn-zhibo {
         width: 10%;
         height: auto;
         position: absolute;
         top: 85%;
         right: 10%;
    }
    .bk2_intro {
				 width: 50%;
				 height: auto;
				 position: absolute;
				 bottom: 15%;
         left: 5%;
    }

    .bk2_list {
        display: none;
        position: absolute;
        width: 25%;
        height: auto;
        bottom: 2%;
        right: 10%;
    }

    .btn-zhibo-bk2 {
         width: 20%;
         height: auto;
    }

    .bk3_intro {
				 width: 40%;
				 height: auto;
				 position: absolute;
				 top: 10%;
         left: 10%;
    }

		.btn-budang-bk3 {
				 width: 20%;
				 height: auto;
				 position: absolute;
				 bottom: 22%;
         left: 22%;
		}
		.bk4_teamx {
				position: absolute;
				width: 16%;
				height: auto;
				top:15%;
				right:17%;
		}
		.bk4_zhuye {
				position: absolute;
				width: 5%;
				height: auto;
				top: 20%;
				right:18%;
		}
		.bk4_yingyuanhui {
				position: absolute;
				width: 6%;
				height: auto;
				top: 25%;
				right:17%;
		}
		.bk4_xinwen {
				position: absolute;
				width: 5%;
				height: auto;
				top: 30%;
				right:18%;
		}
		.btn-budang-bk4 {
				 width: 20%;
				 height: auto;
				 position: absolute;
				 bottom: 5%;
         left: 5%;
		}
}

@media screen and (orientation:portrait) and (min-width: 700px) {
    .bk2_intro {
				 width: 45%;
				 height: auto;
				 position: absolute;
				 bottom: 10%;
         left: 5%;
    }
}
</a>